*{
    margin: 0;
    padding: 0;
}
h1{
    width: 100%;
    text-align: center;
}a:default, a:visited{
    color: black;
    text-decoration: none;
}
table{
    border: 1px;
    width: 60%;
    margin: auto auto;
}
table tr {
    position: relative;
    width: 100%;
}
table tr td,th{
    width: 33%;
    text-align: center;
}