*{
    margin: 0;
    padding: 0;
}

:root{
    --a:#e2172d;
    --b:#3e1d38;
    --c:#eff6d7;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transition: 1s;
    /*background-color: var(--a);*/
    flex-direction: column;
}
form{
    width: 400px;
    display: flex;
    /*background-color: var(--b);*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border: 2px solid black;
    /*background-color: #fff;*/
    /*border-radius: 10px;*/
    margin-top: 10px;
    /*box-shadow: 4px 4px 6px #000;*/
}
input{
    width: 300px;
    height: 40px;
    /*border: 2px solid #fff;*/
    /*border-radius: 10px;*/
    margin-top: 20px;
    /*box-shadow: 1px 1px 1px gray inset ;*/
    outline: none;
    border: none;
    font-size: 12px;
    border-bottom: 2px solid black;
    padding-left: 24px;
    background: none;
    /*color: var(--c);*/

}

#account{
    background-image: url("/img/good/奥特曼.jpg");
    background-repeat: no-repeat;
    background-position: 0 10px;
}
#password{
    background-image: url("/img/good/变身器.jpg");
    background-repeat: no-repeat;
    background-position: 0 10px;
}

a{
    font-size: 12px;
    text-decoration: none;
    margin-top: 20px;
    margin-right: -190px;
    color: gray;
}

#login{
    width: 300px;
    height: 40px;
    /*color: var(--c);*/
    line-height: 40px;
    background:none;
    padding: 0;
    border: 2px solid black;
}
form a{
    text-decoration: none;
    /*color: var(--c);*/
    color: black;
}